.index {
  .post-content {
    background-color: #f5f5f5;
    padding 20px;
    border-radius 8px
    //-webkit-box-shadow: 0 4px 8px 6px rgba(7,17,27,.06);
    //box-shadow: 0 4px 8px 6px rgba(7,17,27,.06);
  }
}

