.index
  .post-content
    background-color #f5f5f5
    padding 20px
    border-radius 8px


// 留言板自定义样式 start
.guestbook-main
  position relative
  height 200px
  line-height 200px
  font-size 30px
  color #888
  text-align center
  user-select none

  &::before
    position absolute
    top -20px
    content: ' '
    display block
    width 100%
    height 24px
    opacity 0.2
    background-repeat no-repeat
    background-position 0 -6px
    background-size 22px 22px
    background-image url(../img/quote-l.svg)
    border-top 1px solid #ccc

  &::after
    position absolute
    bottom -20px
    content: ' '
    display block
    width 100%
    height 24px
    opacity 0.2
    background-image url(../img/quote-r.svg)
    background-size 22px 22px
    background-repeat no-repeat
    background-position: 100% 8px;
    border-bottom 1px solid #ccc
// 留言板自定义样式 end


// 侧边栏自定义样式
.sidebar
  &::before
    position absolute
    top 0
    left 0
    content ''
    display block
    width 100%
    height 100%
    background-image url(https://s3.ax1x.com/2020/11/20/DQA9iR.jpg)
    background-image url(https://i.loli.net/2020/11/26/Y4CbgLAfr7D1WHO.jpg)
    background-size auto 100%
    background-position center
    opacity 0.1
    z-index -1


#valine-comments
  .vpower
    display none

#veditor
  background: url(https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/valine/comment.webp) 100% 100% no-repeat;
  &:focus
    background-position-y: 400px;
    transition: all .2s ease-in-out 0s;

#taboola-livere
  display none